.gnbWrap {
    width: 100%;
    max-width: 1920px;
    height: 60px;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 999;
    font-family: "Jura", sans-serif;


    ul {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-inline: 40px;
        column-gap: 2rem;
        font-size: 20px;
        font-weight: 500;
        transition: .3s;

        >li {
            align-self: center;
        }

        .logoGnb {
            grid-column: 1;
        }

        .mainGnb {
            grid-column: 8;
            text-align: right;
        }

        .aboutGnb {
            grid-column: 9;
            text-align: right;
        }

        .worksGnb {
            grid-column: 10;
            text-align: right;
        }

        .archiveGnb {
            grid-column: 11;
            text-align: right;
        }

        .contactGnb {
            grid-column: 12;
            text-align: right;
            cursor: pointer;
        }

        li {
            transition: .3s;

            &:hover {
                color: #555;
            }
        }
    }
}

@media (max-width:767px) {
    .gnbWrap {
        ul {
            grid-template-columns: repeat(8, 1fr);
            padding-inline: 20px;
            column-gap: .5rem;
            font-size: .8rem
        }

        .mainGnb {
            grid-column: 4;
            text-align: right;

            .aboutGnb {
                grid-column: 5;
                text-align: right;
            }

            .worksGnb {
                grid-column: 6;
                text-align: right;
            }

            .contactGnb {
                grid-column: 7;
            }
        }
    }
}