@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
/* font-family: "Jura", sans-serif; */
/* 영어 */

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* font-family: 'NanumSquare'; */
/* 한국어 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}